{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Gestão de Energia de Sistemas Fotovoltaicos</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <!-- Include the Museo Sans font -->
</head>

<style>
    .link-button {
        position: absolute;
        top: 20px;
        right: 20px;
    }
</style>

<body>
    <div class="page-header">
        <h1 id="tittle">Univesp</h1>
        <div class="link-button">
            <a href="{% url 'login' %}">Ir para LOGIN</a>
        </div>
    </div>
    <div class="content">
        <p id="front-message">Convidamos cooperativas a repensarem seus modos de geração de <span>energia</span>!</p>
    </div>
</body>
